<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phishing URL Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styless.css') }}">
</head>
<body>

    <div id="flex">
        <form action="/phishing" method="get">
            <div class="topic">
                <br>
                <br>
                <br>
                <br>

                <h1>Check the URL</h1>
                <br>
                <h4>Make sure the link is safe to use!</h4>
            </div>

            <div class="input-submit">
                <input type="text" name="url" id="url" placeholder="https://.com" required>
                <input type="submit" value="Submit" id="submit">
            </div>
        </form>
    </div>

    {% if url %}
    <div class="answers">
    
        <div class="combined-circle">
            <div class="circle-text">
                <p id="circle-percent">0%</p>
                <p id="circle-label">Safe</p>
            </div>
        </div>

  
        <div class="url-text">
            {{ url }}
        </div>
        <br>
        <br>
        <button class="button1" id="button1" onclick="window.open('{{ url }}', '_blank')">Browse the page</button>
    </div>
    {% endif %}

    <script>
        const phish = parseFloat('{{ phish }}');
        const nonPhish = parseFloat('{{ non_phish }}');
        const circle = document.querySelector(".combined-circle");
        const percentEl = document.getElementById("circle-percent");
        const labelEl = document.getElementById("circle-label");

        if (!isNaN(phish) && !isNaN(nonPhish)) {
            const greenAngle = nonPhish * 3.6;
            circle.style.background = `conic-gradient(
                #83ecff 0deg ${greenAngle}deg,
                rgb(255, 255, 75) ${greenAngle}deg 360deg
            )`;

            if (phish > nonPhish) {
                percentEl.textContent = `${phish.toFixed(2)}%`;
                labelEl.textContent = `Phishing`;
            } else {
                percentEl.textContent = `${nonPhish.toFixed(2)}%`;
                labelEl.textContent = `Safe`;
            }
        }
    </script>

</body>
</html>
